html {
  height: 100vh;
  width: 100vw;
}

#root{
  color: transparent;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main{
  height: 100%;

}

.header {
  height: 10%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
}

.options #tagLine{
  font-size: 15px;
}
.options #title{
  font-size: 25px;
}
.Button {
  width: fit-content;
  font-size: 20px;
  color: darkgreen;
  background-color: gold;
  border-radius: 5px;
  padding: 3px;
  padding-right: 10px;
}
.startButton {
  height: 20px;
  width: 30px;
  background-color: blue;
}

.stopButton {
  height: 20px;
  width: 30px;
  background-color: green;
}

.stepButton {
  height: 20px;
  width: 30px;
  background-color: red;
}

.clearButton {
  height: 20px;
  width: 30px;
  background-color: orange;
}
.footer {
  height: 10%;
  background-color: transparent;
  color: gold;
  justify-content: space-around;
  display: flex;
}

.middle {
  height: 90%;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
}

.optionsHolder{
  display: flex;
  justify-content: center;
  height: 100%;
}
.options {
  font-family: Papyrus;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15%;
  background-color: transparent;
  justify-content: space-around;
  /* align-items: center; */
}

p{
  width: fit-content;
  font-size: 20px;
  color: darkgreen;
  background-color: gold;
  border-radius: 5px;
  padding: 3px;
  padding-right: 10px;
}

.grid {
  height: 80vh;
  width: 80vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  border: 5px solid yellow;
  border-radius: 5px;
  margin-top: 20px;
}



.grid .row {
  height: 2%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.grid .row .occupied {
  height: 100%;
  width: 2%;
  border: 1px solid yellow;
  margin: 0;
  padding: 0;
  background-color: green;
}

.grid .row .vacant {
  height: 100%;
  width: 2%;
  margin: 0;
  padding: 0;
  background-color: gold;
  border: 1px solid yellow;
}

.selections {
  height: 100%;
  width: 25%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.selections .selection{
  /* height: 20%; */
  background-color: transparent;
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.selections .selection .selectionRow{
  height: 2vh;
  display: flex;
}

.selections .selection .selectionRow .occupied{
  width: 2vh;
  height: 2vh;
  background-color: green;
  border: 1px solid yellow;
  box-sizing: border-box;
}

.selections .selection .selectionRow .vacant{
  width: 2vh;
  height: 2vh;
  background-color: gold;
  border: 1px solid yellow;
  box-sizing: border-box;
}

.zoomLabel{
  display: none;
}
